.sidebar {
  width: 400px;
  background-color: #ffffff;
  color: #fff;
  padding: 20px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.sidebar h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.hoveredCategory:hover {
  background-color: #a4be9b;
  cursor: pointer;
}

.category-dropdown {
  margin-bottom: 20px;
}

.category-dropdown label {
  display: block;
  font-weight: bold;
  color: #fff;
  margin-bottom: 5px;
}

.category-dropdown select {
  width: 100%;
  padding: 10px;
  border: 1px solid #1f4e3d;
  background-color: #fff;
  color: #1f4e3d;
  border-radius: 4px;
  appearance: none;
  cursor: pointer;
}

.category-dropdown select:focus {
  outline: none;
  box-shadow: 0 0 3px 0px #fff;
}

.category-dropdown select option {
  background-color: #fff;
  color: #000;
}
.custom-select .select-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 14px;
}

.sidebar-scrollable {
  border-radius: 10px;
  overflow-y: scroll;
  height: 700px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.css-1ix3erv-MuiPaper-root-MuiCard-root {
  flex-direction: column !important;
  justify-content: space-between !important;
}
.custom-scroll-container::-webkit-scrollbar {
  display: none;
}
.home-contact .css-1cjvj4b-MuiGrid-root,
.home-contact .css-t4ibk5-MuiGrid-root {
  padding-left: 24px !important;
}

.main_product_slider {
  margin: 0 5% !important;
}
.main_product_slider .swiper-button-next,
.main_product_slider .swiper-button-prev {
  color: #fff;
}
.main_product_slider .swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.main_product_slider .swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  font-size: 32px;
}
.product_image_slider {
  border-radius: 10px !important;
  object-fit: cover;
  width: 100%;
  height: 300px !important;
}
.product_details_description p {
  margin-bottom: 5px;
  margin-top: 5px;
}

@media (max-width: 1491px) {
  .product_card {
    width: 280px !important;
  }
}
@media (max-width: 1418px) {
  .product_card {
    width: 250px !important;
  }
}
@media (max-width: 1322px) {
  .sidebar {
    width: 300px;
  }
}
@media (max-width: 1277px) {
  .product_card {
    width: 235px !important;
  }
}
@media (max-width: 1216px) {
  .product_card {
    width: 200px !important;
  }
}
@media (max-width: 1200px) {
  .product_card {
    width: 220px !important;
  }
}

@media (max-width: 777px) {
  .sidebar-scrollable {
    width: 45% !important;
  }
}
@media (max-width: 753px) {
  .all_produc_section {
    display: inherit !important;
    height: 20% !important;
  }
  .sidebar-scrollable {
    width: 100% !important;
    height: 20%;
  }
  .custom-scroll-container {
    width: 100% !important;
    margin-left: 0 !important;
  }
}
@media (max-width: 1182px) {
  .main_form {
    margin-left: 10% !important;
    margin-right: 10% !important;
  }
}
@media (max-width: 792px) {
  .main_form {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
}
@media (max-width: 600px) {
  .css-1cjvj4b-MuiGrid-root > .MuiGrid-item,
  .css-t4ibk5-MuiGrid-root > .MuiGrid-item,
  .css-hi54jv-MuiGrid-root > .MuiGrid-item {
    padding-left: 0 !important;
  }
  .css-1cjvj4b-MuiGrid-root {
    padding-left: 0 !important;
    padding-top: 0 !important;
  }
  .home-contact .css-1cjvj4b-MuiGrid-root,
  .home-contact .css-t4ibk5-MuiGrid-root {
    padding-left: 0 !important;
  }
}
@media (max-width: 900px) {
  .main_product_slider {
    margin: 0 !important;
  }
}
